.welcome {
  display: flex;
  flex-direction: column;
}

.hello {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin: auto 0;
}

.name {
  color: rgba(255, 0, 0, 1);
}
